.letter{
    width: fit-content;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.cell{
    width: 30px;
    height: 50px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}