.won{
    --status-color: green;
}

.lost{
    --status-color: red;
}



.letter{
    width: fit-content;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.cell{
    width: 30px;
    height: 50px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}


.main{
    width: 500px;
    height: 500px;
    border: 1px solid lightgray;
    margin: 30px auto;
    border-radius: 5px;
    padding: 20px;
}

.header{
    text-align: center;
    color: green;
}

.gameWrapper{
    border: 0.3px dashed lightgrey;
    margin: 10px auto;
    padding: 1px 30px;
}

.gameStatus{
    width: fit-content;
    height: fit-content;
    border-radius: 2px;
    background-color: var(--status-color);
}