html {
  --color-success: hsl(130deg 100% 80%);
  --color-error: hsl(350deg 100% 75%);
}

.letter{
    width: fit-content;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.cell{
    width: 30px;
    height: 50px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}


.main{
    width: 500px;
    height: 500px;
    border: 1px solid lightgray;
    margin: 30px auto;
    border-radius: 5px;
    padding: 20px;
}

.header{
    text-align: center;
    color: green;
}

.gameWrapper{
    border: 0.3px dashed lightgrey;
    margin: 10px auto;
    padding: 1px 30px;
}

.gameStatus{
    width: 170px;
    height: 30px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.formWrapper{
    display: flex;
    flex-direction: column;
}

.gameInput{
    width: 300px;
    height: 30px;
    margin: auto;
    border-radius: 3px;
    border: 0.2px solid;
    
    &:focus{
        outline: 1px solid lightgreen;
    }
}

.label{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}