@import "./assets/font.css";

:root {
  --shadow-color: 285deg 26% 35%;
  --shadow-elevation-low:
    0.7px -0.1px 0.5px hsl(var(--shadow-color) / 1),
    1.1px -0.2px 0.8px -2.5px hsl(var(--shadow-color) / 0.69),
    3.6px -0.6px 2.7px -5px hsl(var(--shadow-color) / 0.35);
  --shadow-elevation-medium:
    0.7px -0.1px 0.5px hsl(var(--shadow-color) / 1),
    1.3px -0.2px 1px -1.7px hsl(var(--shadow-color) / 0.82),
    5.8px -0.9px 4.4px -3.3px hsl(var(--shadow-color) / 0.55),
    17.8px -2.8px 13.5px -5px hsl(var(--shadow-color) / 0.27);
  --shadow-elevation-high:
    0.7px -0.1px 0.5px hsl(var(--shadow-color) / 1),
    1px -0.2px 0.8px -0.7px hsl(var(--shadow-color) / 0.89),
    3.2px -0.5px 2.4px -1.4px hsl(var(--shadow-color) / 0.76),
    9.1px -1.4px 6.9px -2.1px hsl(var(--shadow-color) / 0.63),
    20.5px -3.3px 15.6px -2.9px hsl(var(--shadow-color) / 0.51),
    39.3px -6.2px 29.8px -3.6px hsl(var(--shadow-color) / 0.38),
    67.5px -10.7px 51.3px -4.3px hsl(var(--shadow-color) / 0.25),
    106.7px -16.9px 81px -5px hsl(var(--shadow-color) / 0.13);
}

[data-theme = "dark"]{
  --bg-color: #111110;
  --font-color: white;
  --stroke: white;
  --fill: white;
  --timers: white;
  --parent: rgba(255, 255, 255, 0.2);
  --child: white;
  --tw-bg-opacity: 1;
  --drawer-bg-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --drawer-text-color: black;
  --drawer-text-thickness: 2px;
  --drawer-button-border-color: white;
  --drawer-random-color: gray;
}

[data-theme = "light"]{
  --bg-color: #ffff;
  --font-color: black;
  --stroke: black;
  --fill: black;
  --timers: black;
  --parent: lightgray;
  --child: gray;
  --drawer-bg-color: black;
  --drawer-text-color: white;
  --drawer-text-thickness: 5px;
  --drawer-button-border-color: black;
  --drawer-random-color: white;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
     --bg-color: #111110;
}

body{
    background-color: var(--bg-color);
    overflow-x: hidden;
}

.herotext{
  color: var(--font-color);
  text-align: center;
  font-size: 2rem;
  margin: 20px;
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-kerning: normal;
  text-rendering: optimizeSpeed;
  font-weight: lighter;
  display: inline-block;
}

.herotext span{
  font-family: "Dancing Script", sans-serif;
  font-weight: 500;
  display: inline-block;
}

.herotext img{
  vertical-align: middle;
  float: left;
}

.drawerButton{
  width: 100px;
  height: 30px;
  background-color: transparent;
  border: 1px solid var(--drawer-button-border-color);
  color: var(--drawer-button-border-color);
  /* backdrop-filter: blur(10px); */
  text-align: center;
  display: flex;
  border-radius: 3px;
  align-items: center;
  justify-content: center;
  justify-self: center;
  margin: 20px;
}



.buttonWrapper{
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 200px;
}


.heading{
  justify-self: center;
  margin: 30px;
  font-size: 5rem;
  background: linear-gradient(
    45deg,
    hsl(96deg 81% 37%) 0%,
    hsl(84deg 100% 32%) 4%,
    hsl(76deg 100% 31%) 8%,
    hsl(68deg 100% 30%) 13%,
    hsl(59deg 100% 29%) 17%,
    hsl(51deg 100% 32%) 21%,
    hsl(44deg 100% 34%) 25%,
    hsl(37deg 100% 37%) 29%,
    hsl(31deg 100% 39%) 33%,
    hsl(26deg 100% 41%) 37%,
    hsl(20deg 100% 43%) 42%,
    hsl(13deg 100% 45%) 46%,
    hsl(0deg 100% 47%) 50%,
    hsl(14deg 100% 44%) 54%,
    hsl(22deg 100% 41%) 58%,
    hsl(29deg 100% 38%) 63%,
    hsl(36deg 100% 35%) 67%,
    hsl(43deg 100% 31%) 71%,
    hsl(52deg 100% 28%) 75%,
    hsl(62deg 100% 25%) 79%,
    hsl(72deg 100% 26%) 83%,
    hsl(81deg 100% 27%) 87%,
    hsl(96deg 73% 32%) 92%,
    hsl(120deg 50% 38%) 96%,
    hsl(146deg 88% 30%) 100%
  );
 -webkit-text-stroke: var(--drawer-text-thickness) transparent;
 color: var(--drawer-text-color);
 -webkit-background-clip: text;
 background-clip: text;
}

.btns{
  width: 50px;
  height: 50px;
  background-color:  hsl(0, 0% 100% 1);
  color: var(--drawer-text-color);
  background: none;
  border: 1px solid var(--drawer-text-color);
  border-radius: 50%;
}

@media (max-width: 500px) and (min-width: 300px) and (orientation: portrait){
  .herotext{
    display: inline-block;
    font-size: 1.5rem;
  }

  .herotext span{
    display: inline-block;
  }

  .herotext img{
    vertical-align: middle;
    float: left;
    margin-right: 5px;
    width: 40px;
    height: 40px;
  }
}