.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    margin: auto;
}

.colorWrapper{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  place-content: center;
  gap: 5px
}
.cardWrapper{
    width: clamp(250px, 300px, 350px);
    margin: auto;
    height: 350px;
    margin: 20px auto;
    border: 1px solid;
    border-top-left-radius: 4px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 15px;
    padding: 20px;
    position: relative;
}


.colors{
   width: 20px;
   height: 20px;
   border-radius: 50%;
   margin: 4px;
   cursor: pointer;
}

.colors:focus{
  outline: 1px solid white;
}


.title{
     background: linear-gradient(
    120deg,
    #f5f5f5,
    #cfcfcf,
    #ffffff,
    #bdbdbd,
    #f5f5f5
  );
  background-size: 200% auto;
  -webkit-background-clip: text;
  color: transparent;
  background-clip: text;
  font-weight: 700;
  animation: shine 2s linear infinite;
  text-align: end;
  font-size: 1rem;
}

.name{
   position: absolute;
   left: 20px;
   bottom: 20px;
      background: linear-gradient(
    120deg,
    #f5f5f5,
    #cfcfcf,
    #ffffff,
    #bdbdbd,
    #f5f5f5
  );
  background-size: 200% auto;
  -webkit-background-clip: text;
  color: transparent;
  background-clip: text;
  font-weight: bolder;
  animation: shine 2s linear infinite;
  text-align: end;
  font-size: 1.5rem;
}


@keyframes shine {
  to {
    background-position: 200% center;
  }
}