.wrapper{
    width: 300px;
    height: 500px;
    border: 2px solid transparent;
    margin: 50px auto;
    border-radius: calc(10px + 20px);
    position: relative;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 1;
    backdrop-filter: blur(3px);
    box-shadow: 0px 4px 6px rgb(75, 74, 74), inset 0 1px 0 rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    padding: 20px;
}

.cover{
    width: 100%;
    margin: 10px auto;
}

.image{
    width: 250px;
    margin: auto;
    border-radius: 10px;
}

.title{
    font-weight: bolder;
    font-size: 1rem;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.name{
    font-size: 0.8rem;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 5px;
}

.parent{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    height: 8px;
    margin-top: 20px;
    border-radius: 5px;
}


.timers{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    color: white;
}

.fastforward{
    background: none;
    border: none;
}
.canvas{
    position: absolute;
    width: 200px;
    height: 50px;
    top: 10px;
    bottom: 10px;
    left: 15px;
    right: 0;
}

.btn{
    position: absolute;
    right: 15px;
    bottom: 15px;
    border: none;
    background: none;
}

.text{
    text-align: center;
    font-weight: 900;
}
