.wrapper{
    width: 300px;
    height: 500px;
    border: 1px solid rgb(75, 74, 74);
    margin: 50px auto;
    border-radius: calc(10px + 20px);
    position: relative;
    background-color: hsl(0, 0% 100% 1);
    z-index: 1000;
    backdrop-filter: blur(10px) saturate(1.8);
    box-shadow: 0px 1px 1px rgb(75, 74, 74), inset 0 1px 0 rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    padding: 20px;
}

.cover{
    width: 100%;
    margin: 10px auto;
}

.image{
    width: 250px;
    margin: auto;
    border-radius: 10px;
}

.title{
    font-weight: bolder;
    font-size: 1rem;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.name{
    font-size: 0.8rem;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 5px;
}

.parent{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    height: 8px;
    margin-top: 20px;
    border-radius: 5px;
}

.child{
    width: 0;
    height: 8px;
    background-color: white;
    border-radius: calc(5px + 0px);
}


.timers{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    color: white;
}

.controls{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.rewindbutton, .playbutton, .fastforwardbutton{
    background: none;
    border: none;
}

.rewind, .fastforward, .play, .pause{
   stroke: white;
   fill: white;
}




.canvas{
    position: absolute;
    width: 200px;
    height: 50px;
    top: 10px;
    bottom: 10px;
    left: 15px;
    right: 0;
}

.btn{
    position: absolute;
    right: 15px;
    bottom: 15px;
    border: none;
    background: none;
}

.text{
    text-align: center;
    font-weight: 900;
}
