@import "../../assets/font.css";


.wrapper{
    max-width: 649px;
    height: 300px;
    margin: 100px auto 20px;
    border-radius: 10px;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.BoxWrap{
  flex: 3;
}

.box{
    --width: 64px;
    --height: 64px;
    width: var(--width);
    height: var(--height);
    margin: auto;
    border-radius: 10px;
    background-color: black;
}

.Rangewrapper{
    display: flex;
    width: 647px;
    justify-content: space-around;
    border-top: 0.5px solid lightgray;
    flex: 1;
    padding: 10px;
    position: relative;
}



.valuesWrapper{
  margin: 10px auto;
  width: 300px;
  height: 20px;
  background-color: lightgrey;
  padding-left: 25px;
  border-radius: 3px;
}

.value[data-axis = "x"]{
  font-family: "Doto", sans-serif;
  font-weight: bolder;
  position: absolute;
  top: 15px;
  left: 60px;
}

.value[data-axis = "y"]{
   font-family: "Doto", sans-serif;
  font-weight: bolder;
  position: absolute;
  top: 15px;
  right: 60px;
}

.input:first-of-type{
  position: absolute;
  left: 20px;
  top: 50px;
}

.input:last-of-type{
  position: absolute;
  right: 20px;
  top: 50px;
}
