.wrapper{
  position: fixed;
  inset: 0;
  min-height: 100%;
  max-width: 100%;
  z-index: 9999;
}


.backdrop {
  position: absolute;
  inset: 0;
  background: hsla(330, 5%, 8%, 0.75);
  backdrop-filter: blur(3px);
}

.drawer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  width: 100%;
  height: 500px;
  padding: 30px;

  border-top-left-radius: 6px;
  border-top-right-radius: 6px;



  background-color: var( --drawer-bg-color);

  color: var(--drawer-text-color);

  animation: slide-in 500ms cubic-bezier(.14,.78,.36,1);
  z-index: 2;
}

.random{
  width: 100px;
  height: 5px;
  border-radius: 10px;
  background-color: var(--drawer-random-color);
  display: flex;
  justify-self: center;
  align-self: flex-start;
  position: absolute;
}


.closeButton{
  display: flex;
  margin: auto;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid var(--drawer-text-color);
  background: transparent;
  color: var(--drawer-text-color);
  justify-content: center;
  align-items: center;
  gap: 5px;
}


@keyframes slide-in{
  from{
    transform: translateY(100%);
  }
  to{
    transform: translateY(0%);
  }
}
