@font-face {
    font-family: "Doto";
    src: url("/Doto_Rounded-Black.ttf") format("truetype");
    font-display: swap;
    font-weight: bolder;
}

@font-face {
    font-family: 'Dancing Script';
    src: url("/DancingScript-Regular.ttf") format("truetype");
    font-display: swap;
    font-weight: 500;
}


@font-face {
    font-family: 'Dancing Script';
    src: url("/Doto-Black.ttf") format("truetype");
    font-display: swap;
    font-weight: 900;
}