.wrapper{
    width: 300px;
    height: 70px;
    border: 0.3px solid lightgray;
    margin: 10px auto;
    border-radius: 5px;
    position: relative;
}

.canvas{
    position: absolute;
    width: 200px;
    height: 50px;
    top: 10px;
    bottom: 10px;
    left: 15px;
    right: 0;
}

.btn{
    position: absolute;
    right: 15px;
    bottom: 15px;
    border: none;
    background: none;
}

.text{
    text-align: center;
    font-weight: 900;
}
