.header{
     width: 100%;
     padding: 20px;
     margin: auto;
     display: flex;
     justify-content: space-between;
     align-items: center;
}



.link{
   background: none;
}
.github{
    stroke: black;

    &:hover{
        stroke: blue;
    }
}


