.header{
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     width: 100%;
     padding: 20px;
     margin: auto;
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.link{
   background: none;
}
.github{
    stroke: black;

    &:hover{
        stroke: blue;
    }
}


