.header{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    position: relative;
    z-index: 1;
}

.link{
   background: none;
}
.github{
    stroke: black;

    &:hover{
        stroke: blue;
    }
}


