.header{
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     width: 100%;
     padding: 20px;
     margin: auto;
     display: flex;
     justify-content: space-between;
     align-items: center;
     z-index: 1000;
     background-color: hsla(0, 0%, 98%, 0.6);
     backdrop-filter: blur(2px);
}

.link{
   background: none;
}
.github{
    stroke: black;

    &:hover{
        stroke: blue;
    }
}


