:root {
  --shadow-color: 285deg 26% 35%;
  --shadow-elevation-low:
    0.7px -0.1px 0.5px hsl(var(--shadow-color) / 1),
    1.1px -0.2px 0.8px -2.5px hsl(var(--shadow-color) / 0.69),
    3.6px -0.6px 2.7px -5px hsl(var(--shadow-color) / 0.35);
  --shadow-elevation-medium:
    0.7px -0.1px 0.5px hsl(var(--shadow-color) / 1),
    1.3px -0.2px 1px -1.7px hsl(var(--shadow-color) / 0.82),
    5.8px -0.9px 4.4px -3.3px hsl(var(--shadow-color) / 0.55),
    17.8px -2.8px 13.5px -5px hsl(var(--shadow-color) / 0.27);
  --shadow-elevation-high:
    0.7px -0.1px 0.5px hsl(var(--shadow-color) / 1),
    1px -0.2px 0.8px -0.7px hsl(var(--shadow-color) / 0.89),
    3.2px -0.5px 2.4px -1.4px hsl(var(--shadow-color) / 0.76),
    9.1px -1.4px 6.9px -2.1px hsl(var(--shadow-color) / 0.63),
    20.5px -3.3px 15.6px -2.9px hsl(var(--shadow-color) / 0.51),
    39.3px -6.2px 29.8px -3.6px hsl(var(--shadow-color) / 0.38),
    67.5px -10.7px 51.3px -4.3px hsl(var(--shadow-color) / 0.25),
    106.7px -16.9px 81px -5px hsl(var(--shadow-color) / 0.13);
}

@font-face {
  font-family: "Doto";
  src: url("/ui/public/Doto/Doto-VariableFont_ROND,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
   font-variation-settings:
    "ROND" 100;
}


.boxWrap{
  flex: 3;
}

.box{
    --width: 64px;
    --height: 64px;
    width: var(--width);
    height: var(--height);
    /* box-shadow: var(--shadow-elevation-medium); */
    margin: auto;
    border-radius: 10px;
    background-color: black;
}

.Rangewrapper{
    display: flex;
    width: 647px;
    justify-content: space-around;
    border-top: 0.5px solid lightgray;
    flex: 1;
    padding: 10px;
}

.boxWrapper{
    max-width: 649px;
    height: 300px;
    margin: 200px auto;
    border-radius: 10px;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
}

.valuesWrapper{
  margin: 10px auto;
  width: 300px;
  height: 20px;
  background-color: lightgrey;
  padding-left: 25px;
  border-radius: 3px;
}

.Text{
  font-family: "Doto", sans-serif;
  font-weight: 900;
  
}
