.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
}

.cardWrapper{
    width: clamp(250px, 300px, 350px);
    margin: auto;
    height: 350px;
    margin: 20px;
    border: 1px solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 15px;
}