.wrapper{
    width: 20px;
    height: 20px;
    padding: 5px;
    border-radius: 50%;
    border: 1px solid currentColor;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center
}

.colorCheck{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}